asgiref==3.11.1
crispy-bootstrap5==2025.6
Django==5.1.15
django-allauth==65.14.3
django-crispy-forms==2.5
django-environ==0.13.0
pillow==12.1.1
psycopg2-binary==2.9.11
sqlparse==0.5.5
typing_extensions==4.15.0
